body {
    background-color: #8365A9;
    color: rebeccapurple;
    font-family: "Comic Sans MS", sans-serif;
    font-size: small;
    margin: 10px;
}

.gwt-DialogBox .Caption {
    padding: 4px 4px 4px 8px;
    cursor: default;

}
img {
    size: 5px;
}

.gwt-FileUpload {
    color: black;
}

.gwt-DialogBox .dialogContent {
}

.gwt-DialogBox .dialogMiddleCenter {
    padding: 3px;
    background: lightgrey;
}

.gwt-Label{
    font-size: 150%;
    font-weight: bold;
}

.cus {
    color: black;
}
